html {
    font-size: clamp(0.9rem, calc(0.5rem + 1.6vw), 2.5rem);
    font-family: "Heebo", sans-serif;
}


/* Estilização do Banner (Hero) */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 50px;
    max-width: 1200px;
    margin: 0 auto;
}


.hero-conteudo {
    max-width: 50%;
}


.hero-conteudo h1 {
    font-size: 48px;
    color: #2c4224;
    margin-bottom: 20px;
}


.hero-conteudo .destaque {
    color: #7fa66d; /* Verde claro da palavra Nutrição */
    font-style: italic;
}


.hero-conteudo p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}


/* 3. Estilização dos Cartões (Grid de 4 colunas) */
.grid-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}


.card {
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 8px;
    text-align: center;
    flex: 1; /* Faz todos os cartões terem o mesmo tamanho */
    box-shadow: 0 4px 6px rgba(0,0,0,0.05); /* Sombra leve */
}


.card-icone {
    font-size: 32px;
    margin-bottom: 15px;
}


.card h3 {
    font-size: 18px;
    color: #2c4224;
    margin-bottom: 10px;
}


.card p {
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}


/* === footer === */

footer {
  background-color: #7fa853;
  padding: 2vw;
}

footer p,
footer a,
footer span {
  color: white;
  font-size: 0.8rem;
  margin: 3vw;
}

footer h3 {
  display: inline;
  color: white;
  font-size: 1.2rem;
  margin: 4vw 0 4vw 3vw;
  font-weight: 600;
}

footer .paginas ul {
  margin: 2vw;
}

footer .paginas ul li {
  margin: 1vw;
}

footer .footer div {
  margin: 5vw 2vw;
}

footer .footer div span {
  color: white;
  margin: 0;
}

footer .footer .sigaNos img {
  width: 20px;
}

footer .footer div .whats img {
  width: 25px;
}

footer .sigaNos ul {
  display: flex;
  align-items: center;
  margin: 3vw;
}

footer span {
  display: inline-block;
  color: #ffffff5b;
  margin: 3vw 4vw 4vw;
}

footer .direito {
  text-align: center;
  color: rgba(255, 255, 255, 0.356);
}



@media only screen and (min-width: 600px) {
    
     /* footer */

  footer {

    .footer {
      display: flex;
      justify-content: center;

      h3 {
        font-size: 0.8rem;
      }

      a,
      p,
      span {
        font-size: 0.6rem;
      }

      .paginas ul {
        margin: 1vw 0 0 1vw;

        li {
          margin: 0vw;
        }
      }

      .sigaNos ul {
        margin: 1vw 1vw 1vw 3vw;
        gap: 0vw;

        li a {
          margin: 1vw;
        }
      }

      .fala {
        width: 600px;

        img {
          margin: 1vw
        }
      }
    }

    p {
      font-size: 0.6rem;
    }
  }

}