html {
  font-size: clamp(0.9rem, calc(0.5rem + 1.6vw), 2.5rem);
  font-family: "Heebo", sans-serif;
}
/* === BOTÃO HAMBÚRGUER === */

.menu-btn {
    display: none;
}


/* === CELULAR === */

@media only screen and (max-width: 599px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .menu-btn {
        display: block;

        margin: 0;
        padding: 0;

        background: transparent;
        border: none;

        color: black;
        font-size: 2rem;

        cursor: pointer;
    }


    header nav ul {
        display: none;

        position: absolute;

        top: 100%;
        right: 0;

        width: 200px;

        background-color: white;

        border: 1px solid #00000033;
        border-radius: 10px;

        padding: 10px;

        z-index: 1000;
    }

    header nav ul.ativo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }
    
}


/* === COMPUTADOR === */

@media only screen and (min-width: 600px) {

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.5rem;
    }

    header nav ul {
        display: flex;
        align-items: center;
    }
}



.beneficios {
  text-align: center;
  background-color: #cfe0bc;
  padding: 0vw 0vw 7vw;
}
.beneficios h1 {
  font-weight: bold;
  font-size: 1.8rem;
  padding: 15px;
  animation: entradaSuave 0.8s ease-out forwards;
}

span {
  color: #719c43;
}

.beneficios p {
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0vw 2vw;
  color: rgb(56, 55, 55);
  animation: entradaSuave 0.8s ease-out forwards;
  animation-delay: 0.4s;
}


.part-dois h2 {
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
  color: #719c43;
  margin-bottom: 3vw;
  padding: 5vw;
  animation: entradaSuave 0.8s ease-out forwards;
  animation-delay: 0.6s;
}
.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.card-beneficio {
  background-color: #dcdcdc;
  width: 100%;
  max-width: 85%;
  border-radius: 8px;
  padding: 25px 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  animation: deslizarEntrada 0.8s ease-out forwards;
  animation-delay: 0.8s;
  
}
.card-beneficio p {
  margin: 0vw 3vw;
  
}

.card-beneficio {
  margin-bottom: 5vw;;
}

.part-dois h3 {
  font-weight: 800;
  font-size: 1.5rem;
  padding: 5px;
}


@media only screen and (min-width: 600px) {
  .beneficios {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .beneficios h1 {
    text-align: center;
    padding: 3vw 5vw 0;
    font-size: 0.8rem;
  }

  .beneficios p {
    padding: 2.5vw 2.5vw 4vw 2.5vw;
    font-size: 0.5rem;
  }


  .part-dois h2 {
    padding: 2vw;
    margin-bottom: 1vw;
    font-size: 0.6rem
  }

  .container-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    font-size: 0.4rem;

  }

.container-cards h3 {
  font-size: 0.6rem;
}


  .card-beneficio {
    width: 28%;
    max-width: none;
    margin-bottom: 2vw;
  }

}