html {
  font-size: clamp(0.9rem, calc(0.5rem + 1.6vw), 2.5rem);
}

/* === Header === */

header {
  padding: 2vw;
  text-align: center;
}

header nav {
  font-size: 0.8rem;
}

header nav ul {
  color: #717171;
  gap: 15px;
}

header nav ul li {
  margin: 0.5vw;
  padding: 0.5vw 1vw;
  border-radius: 50px;
}

.atual {
  color: #7fa853 !important;
}

.atual:hover {
  color: rgb(69, 120, 55);
}

header nav a {
  display: inline-block;
}

header img {
  width: 70px;
}

/*
.comeca {
  display: inline-block;
  color: white !important;
  background-color: #1b5e20;
  border: 1px solid #1b5e20;
  border-radius: 50px;
  padding: 0.5vw 1vw;
  font-weight: 600;
}

/* === inicio === */

main {
  text-align: center;
}

section.home {
  min-height: 350px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://file-cdn.mercyforanimals.org/mercy4animals.wpengine.com/sites/451/2021/10/Hero-ACB.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-weight: 700;
}

.home h1 {
  margin: 5vw;
  font-size: 1.3rem;
}

.home a {
  display: inline-block;
  margin: 3vw;
  font-size: 0.9rem;
  border: white solid 2px;
  padding: 2vw 3vw;
  border-radius: 10px;
  transition: 0.3s;
}

.home a:hover {
  background-color: white;
  color: #7fa853;
}

/* home2 */

section {
  padding: 2vw;
}

.home2 {
  padding: 3vw;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 3vw;
}

h2 span,
a span {
  color: #7fa853;
}

p {
  color: #686868;
  font-size: 0.8rem;
  margin: 3vw;
}

p span,
ul span {
  font-weight: 700;
}

.home3 {
  background-color: #cfebc050;
}

.home3 div ul {
  margin: 5vw;
}

.home3 div ul li {
  list-style-type: disc !important;
  list-style-position: inside !important; /* Coloca o ponto dentro da área visível */
  padding-left: 20px;
  text-align: left;
  font-size: 0.8rem;
  color: #686868;
  margin: 3vw;
}

.home3 div a {
  display: inline-block;
  margin: 2vw;
  font-size: 0.8rem;
  color: #686868;
}

section.home4 {
  padding: 0;
}

.home4 h2 {
  margin: 4vw;
}

.home4 ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 5vw;
  background: #cfe0bc5b;
}

.home4 ul li {
  text-align: center;
  background-color: #63783d;
  padding: 4vw 1vw;
  border-radius: 20px;
  margin: 5vw;
}

.home4 ul li p {
  display: inline-block;
  color: white;
  font-weight: bold;
  margin: 3vw;
  font-size: 0.9rem;
}

.home4 ul li img {
  width: 80%;
  border-radius: 20px;
}


/* === footer === */

footer {
  background-color: #7fa853;
  padding: 2vw;
}

footer p, footer a, footer span {
  color: white;
  font-size: 0.8rem;
  margin: 3vw;
}

footer h3 {
  display: inline;
  color: white;
  font-size: 1.2rem;
  margin: 4vw;
  font-weight: 600;
}

footer .footer div {
  margin: 5vw 2vw;
}

footer .footer div span {
  color: white;
  margin: 0;
}

footer .footer .sigaNos img {
  width: 20px;
}

footer .footer div .whats img{
  width: 25px;
}

footer .sigaNos ul {
  display: flex;
  align-items: center;
  margin: 2vw;
}

footer span {
  display: inline-block;
  color: #ffffff5b;
  margin: 3vw 4vw 4vw;
}

footer .direito {
  text-align: center;
  color: rgba(255, 255, 255, 0.356);
}



@media (max-width: 768px) {
    .home4 ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    .home4 ul {
        grid-template-columns: 1fr;
    }
}





@media only screen and (min-width: 600px) {
  header nav h1 {
    font-size: 1.2rem;
  }

  header img {
    width: 90px;
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 3vw;
    margin-bottom: 0.3vw;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav ul {
    display: flex;
    align-items: center;
  }

  header nav ul li {
    margin: 0 1vw;
    font-size: 0.4rem;
    padding: 0;
  }

  /* home */


  .home h1 {
    font-size: 1rem;
  }

  .home a {
    font-size: 0.5rem;
    padding: 1vw;
  }

  .home4 ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
